@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/DiemCachLy/themdcl" method="POST">
    Mã điểm cách ly <input type="text" name="MaDiemCachLy" />
    Tên điểm cách ly <input type="text" name="TenDiemCachLy" />
    Địa chỉ <input type="text" name="DiaChi" />
    <input type="submit" value="Thêm" />
</form>
