@{
    ViewData["Title"] = "Nhập số lần sửa";
}
<form action="/NhanVien/lietkenvtheosolansua">
    Số lần sửa <input type="text" name="SoLanSua" />
    <input type="submit" value="Liệt kê" />
</form>
