@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/BaoDuong/lietkebaoduong" method="GET">
    Chọn số xe<input type="text" name="SoXe" placeholder="51G-XXXXX"/>
    <input type="submit" value="Liệt kê"/>
</form>
