@using firstWeb.Models;
@model Khoa
@{
    ViewData["Title"] = "Thông tin lấy được từ form";
}
@{
    /*
    <p>Mã khoa:@Model.MaKhoa</p>
    <p>Tên khoa:@Model.TenKhoa</p>
    */
    <p>@ViewData["ThongBao"]</p>
}