@{
    ViewData["Title"] = "Câu 1";
}
<form action="/CanHo/insertcanho" method="POST">
Mã căn hộ<input type="text" name="MaCanHo" />
Tên chủ hộ<input type="text" name="TenChuHo" />
<input type="submit" value="Thêm" />
</form>