@*
    Form liệt kê N sinh viên
*@
@{
    ViewData["Tilte"] = "Liệt kê n sản phẩm";
}
@{
    <form method="post" action="LietKeCacSanPham">
        <label for="SoSinhVien">Số sản phẩm cần liệt kê </label>
        <input type="text" name="SoSanPham" id="SoSinhVien1"></input>
        <input type="submit" name="Submit" value="Liệt Kê">
    </form>
}
