@*
  Form liệt kê N sinh viên
*@
@{
    ViewData["Tilte"] = "Liệt kê n sinh viên";
}
@{ 
    <form method="post" action="LietKeCacSinhVien">
        <label for="SoSinhVien">Số sinh viên cần liệt kê </label>
        <input type="text" name="SoSinhVien" id="SoSinhVien1"></input>
        <input type="submit" name="Submit" value="Liệt Kê">
    </form>
}