@{
    ViewData["Title"] = "Danh sách sinh viên";
}
@{ 
    <form method="post" action="TimSinhVienTheoTen">
        <label for="Nhập tên cần tìm"></label> 
        <input type ="text" name="TenSinhVien">
        <input type="Submit" name="Submit" value="Tìm">
    </form>
}