@model List<object>
@{
    ViewData["Title"] = "Đếm số lượng hóa đơn của khách hàng";
}

<h2>Số hóa đơn của khách hàng</h2>
<table border="1">
    <tr>
        <th>Tên khách hàng</th>
        <th>Số lượng hóa đơn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.GetType().GetProperty("TenKH").GetValue(item, null)
            </td>
            <td>
                @item.GetType().GetProperty("SoLuongHD").GetValue(item, null)
            </td>
        </tr>
    }
</table>
