@{
    ViewData["Title"] = "Danh sách sách hàng";
}
@{
    <form method="post" action="TimKhachHangTheoTen">
        <label for="HoTen">Nhập tên khách hàng cần tìm</label>
        <input type="text" name="HoTen"><br />
        <input type="Submit" name="Submit" value="Tìm" class="btn btn-primary">
    </form> }
